{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

<div class="container text-center">
    <div class="row align-items-start mt-5">
        <div class="col align-self-center">
            <div class="gambar m-auto  my-5" style="width: 350px; height: auto;">
                <img src="../../media/avatar.png" class="card-img-top" alt="Gambar" >
            </div>
            <h5>Tidak lagi ketinggalan film favoritmu</h5>
            <p>Gabung dan rasakan kemudahan menonton film  dan event gratis di Go-Tic</p>
        </div>

        <div class="col align-self-center">
            <div class="login-form">
                <h2>Selamat Datang</h2>
                <p>Selamat datang! Sillahkan masuk ke akunmu</p>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <p><input type="submit" value="Log-in"></p>
                </form>
                
                <p>Belum punya akun? <a href="{% url 'registration' %}">Daftar</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}