.form{
    float: left;
    padding: 12px;
    width:400px;
    margin-top: 150px;
    }

.login-form button {
        /* Gaya untuk tombol */
        /* Misalnya: */
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
}