{% extends "base.html" %}

{% block title %}Detail Tiket{% endblock %}
{% block content %}

    <div class="container">
		<!-- Content -->
		<div class="row justify-content-center my-5 pt-5">
			<!-- KOLOM Cover -->
			<div class="col-md-6 bg-white border">
				<div class="gambar m-auto  my-5" style="width: 350px; height: auto;">
					<img src="gambar/yowisben.jpg" class="card-img-top" alt="Gambar" >
				</div>
				<h5 class="text">Deskripsi</h5>
				<h7>Yowis Ben Finale adalah film drama-komedi 
					Indonesia yang dirilis di bioskop 
					pada 16 Desember 2021 dan disutradarai 
					oleh Fajar Nugros bersama Bayu Skak, 
					serta dibintangi oleh Bayu Skak, Joshua Suherman, 
					Brandon Salim, Tutus Thomson dan Arief Didu.
				</h7>
			</div>

			<!-- KOLOM Deskripsi -->
				<div class="col-md-5 bg-white ms-4 ps-5  border div2">
					<div class="deskripsi ">
					<h4 class="text">Yowis Ben Finale</h4>
					<hr>
					<div class="film mt-1">
						<i class="bi bi-film"></i>
						<h7>Fiksi</h7>
					</div>
					<div class="date mt-1">
						<i class="bi bi-calendar3"></i>
						<h7>25 Mei 2023</h7>
					</div>
					<div class="time mt-1">
						<i class="bi bi-clock"></i>
						<h7>82 Menit</h7>
					</div>
						<button class="button border mt-3">Gratis</button>
					<div class="pesan mt-5">
						<button type="submit" class="btn btn-primary" style="width: 100%;">Pesan Tiket</button>
					</div>			
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}