{% extends "base.html" %}

{% block title %}Daftar Tiket FIlm{% endblock %}
{% block content %}

    <!-- Content -->
    <div class="container-md mt-5">
        <div class="row justify-content-start">
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="media/marganing gesang.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col-md-4   align-self-center">
                <div class="card border-0 p-4">
                    <h3 class="card-title">Pemutaran Film Dan Diskusi</h3>
                    <h5>Marganing Gesang</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>10 Mei 2023</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-end mt-4">
            <div class="col-md-4 align-self-center">
                <div class="card border-0 p-4">
                    <h3 class="card-title">Pemutaran Film Dan Diskusi</h3>
                    <h5>Marganing Gesang</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p>10 Mei 2023</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="media/marganing gesang.jpg" class="card-img-top" alt="...">
                </div>
            </div>
        </div>

        <!-- daftar film -->
        <div class="row m-4">
          {% for film in posts %}
            <div class="col">
                <div class="card" style="width: 12rem;">
                    <img src="{{ film.cover }}" class="card-img-top" alt="cover film">
                    <div class="card-body">
                      <a href="{{ post.get_absolute_url}}"><h5 class="card-title">{{ film.judul }}</h5></a>
                      <p>{{ film.tanggal }}</p>
                    </div>
                </div>
            </div>
          {% endfor %}

            <!-- pagination -->
            <div class="pagination">
                <span class="step-links">
                    {% if page.has_previous %}
                    <a href="?page={{page.previous_page_number}}"><i class="bi bi-caret-left"></i></a>
                    {% endif %}
            
                    <span class="current">
                        Halaman {{page.number}} dari {{page.paginator.num_pages}}.
                    </span>
                    {% if page.has_next %}
                    <a href="?page={{ page.next_page_number}}"><i class="bi bi-caret-right"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <!-- Akhir Content -->
    
{% endblock %} 
    
